# Initial resources required for splash screen etc.
[ClientSplash]
FileSystem=../../media/preload/clientsplash

[ServerSplash]
FileSystem=../../media/preload/serversplash

# Resources for displaying the menus
#[MenuSystem]


# General resource files
[General]
FileSystem=../../media/fonts
FileSystem=../../media/materials/programs
FileSystem=../../media/materials/scripts
FileSystem=../../media/materials/textures
FileSystem=../../media/models
FileSystem=../../media/particle
FileSystem=../../media/sounds

# Extra CEGUI resources
[Imagesets]
FileSystem=../../media/datafiles/imagesets

[Fonts]
FileSystem=../../media/datafiles/fonts

[Schemes]
FileSystem=../../media/datafiles/schemes

[LookNFeel]
FileSystem=../../media/datafiles/looknfeel

[Layouts]
FileSystem=../../media/datafiles/layouts